@charset "utf-8";



    body {
    padding-top: 50px;
    font-size: 14px;
    /*background:url(../img/bg.gif);*/
    }
    /* IE10 viewport hack for Surface/desktop Windows 8 bug */
    @-ms-viewport     { width: device-width; }
    @-o-viewport      { width: device-width; }
    @viewport         { width: device-width; }
    
    canvas {
    display:block;
    }

    .starter-template {
        padding: 5px 15px;
        text-align: center;
    }
    
    .footer{
        text-align: center;
        background-color: #222;
        color: #9d9d9d;
        margin: 20px  0 0 0;
        font-size: 100%;
    }
    .footer p{
        margin: 20px 0px;
        line-height: 30px;

    }
    .footer a{
        color: #9d9d9d;
    }


    /*使用教程*/
    hr{
        margin: 0px;
        padding: 0px;
    }
    .jc{
        text-align: center;
    }
    /*响应式*/
@media (min-width: 1024px) {
    body{
        font-size: 16px;
    }
    .starter-t
